<div class="row">
  <div class="medium-2 columns" >
      <p></p>
  </div>
  <div class="medium-8 columns" style="background-color:light-gray;">
<div class="panel">
<h1>Nova Postagem</h1>

<%= link_to 'Back', articles_path, class:"button alert" %>
<%= render 'form' %>


